body{
    background-color: beige;
}


.login-form{
   margin-top: 150px;
   padding: 20px;
   background-color: aqua;
   width: 50%;
}

input{
    height: 40px;
    border: none;
}

label{
    font-size: larger;
    color: brown;
}

.login-button{
    height: 50px;
    width: 100px;
    font-size: medium;
}
.validate{
    color: blue;
    
}
.remember-me{
    display: flex;
    align-items: center;
    justify-content: center;
}
