body{
    background-color: beige;
}

.signup-form{
    margin-top: 150px;
   padding: 20px;
   background-color: aqua;
   width: 50%;
}

label{
    font-size: larger;
    color: brown;
}

input{
    height: 40px;
    border: none;
}

.validate{
    color: blue;
    
}


.signup-button{
    height: 50px;
    width: 100px;
    font-size: medium;
}