body{
    background-color: beige;
}

button{
    height: 50px;
    width: 100px;
    font-size: medium;
    border: 3px solid rgb(210, 154, 154);
    
}

a{
    text-decoration: none;
}

.staff{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.card{
    background-color: rgb(81, 156, 222);
    padding: 50px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.profile-bar{

    background-color: rgb(246, 201, 138);
        display: flex;
        justify-content: flex-end; 
         padding: 10px;
         
       
    }

    .profile-bar button {
        margin-left: 10px; 
    }
